body {
    font-family: sans-serif;
}

td.td-nav {
    text-align: center;
}

.major-title {
    font-weight: bold;
    font-size: x-large;
}

.page-title {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.page-text {

}

.slider {
    width: 800px;
}

.button {
    font-size: x-large;
}

.demo-input {
    font-size: large;
}

.emphasized {
    font-weight: bolder;
}
