body {
    font-family: sans-serif;
}

td.td-nav {
    text-align: center;
}

.major-title {
    font-weight: bold;
    font-size: x-large;
}

.page-title {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.page-text {

}

#consent-text {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.cs-image {
    width: 475px;
}

.slider {
    width: 800px;
}

.button {
    font-size: x-large;
}

.demo-input {
    font-size: large;
}

.emphasized {
    font-weight: bolder;
}

td.pitch-cell {
    padding: 10;
}

.pitch-button {
    font-size: xx-large;
    width: 70;
}

#results-textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100;
    width: 600;
}
